# Django Settings
SECRET_KEY="your-secret-key-here"

# Database Settings
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=localhost  # Use 'db' for Docker
DB_PORT=5432


# Other Settings
COMPOSE_BAKE=true


# Optional: Email Settings (if used)
# EMAIL_HOST=smtp.example.com
# EMAIL_PORT=587
# EMAIL_HOST_USER=your-email@example.com
# EMAIL_HOST_PASSWORD=your-email-password
# EMAIL_USE_TLS=True
# DEFAULT_FROM_EMAIL=your-email@example.com


# Optional: API Keys (if used)
# GOOGLE_MAPS_API_KEY=your-google-maps-api-key
# STRIPE_SECRET_KEY=your-stripe-secret-key
# STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key
