Django==4.2.13
djangorestframework>=3.14,<4.0
psycopg2-binary>=2.9,<3.0
python-dotenv>=0.19,<1.0
djangorestframework-simplejwt>=5.0,<6.0
gunicorn>=20.1,<21.0  # For production WSGI server
django-debug-toolbar>=3.2,<4.0  # Debugging tool for Django
django-filter>=23.1,<24.0  # For easy filtering of querysets in Django views
django-extensions>=3.2,<4.0  # Provides additional management commands and too
django-webpack-loader
django-phonenumber-field
phonenumbers

